
.works-content {
    width: 40%;
    padding: 20px;
}

.works-container {
    display: flex;
    flex-direction: column;
    border: solid #2b2b2b 1px;
    border-radius: 10px;
    padding: 30px;
}

.fa-solid {
    color: #696969;
    margin-right: 10px;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.company-logo {
    border-radius: 30px;
    border: solid #2b2b2b 5px;
}

.company-details {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.company-description {
    display: flex;
}

.btn {
    background-color: #2b2b2b;
    border: none;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
      
/* Darker background on mouse-over */
.btn:hover {
        background-color: #1c1c1c;
}

.fa-download {
    margin-right: 10px;
}

